body {
    margin: 0;
    padding: 0%;
}

.contenedor{
    width: 90%;
    background-color: #334455;
    margin: 0 auto;
}

nav ul{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    
    list-style: none;
}

li {
    font-size: medium;
    letter-spacing: 2px;
    padding: 12px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-transform: capitalize;
}