#contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#contenedor > div {
    width: 150px;
    height: 150px;
    background-color: #081299;
    margin-top: 5px;
}

@media (max-width: 800px){
    #contenedor {
        /*
            flex-flow: row wrap; <-- Son equivalentes a las dos lineas de abajo
        */
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }
    #contenedor > div {
        width: 200px;
        margin-top: 10px;
    }
}