body {
    margin: 0;
    padding: 0;
}

.caja {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: center;
    animation-name: cambios;
    animation-duration: 3s;
}

h1 {
    font-size: 1rem;
    animation-name: cambios_txt;
    animation-duration: 3s;
}

@keyframes cambios {
    100% {
        border-radius: 50%;
        background-color: green;
    }
}

@keyframes cambios_txt {
    100% {
        font-size: 4rem;
    }
}