body {
    font-family: 'Arial Narrow Bold', sans-serif;
}

form {
    width: 500px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form > * {
    display: block;
    text-align: start;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    margin: 20px auto;
    text-align: center;
    font-weight: 50;
}

label{
    text-align: center;
    margin: 12px auto;
}

.btn {
    text-align: center;
    padding: 10px;
    line-height: 20px;
}