body {
    margin: 0;
    background-color: black;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
}