body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    width: 900px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form > * {
    /*Convertimos a estilos en bloque*/
    display: block;
    text-align: start;
    width: 50%;
    margin: 0 auto;
    /*En este caso deja los inputs y botones del mismo ancho*/
    box-sizing: border-box;
}

label {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    margin-bottom: 12px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    background-color: #318fdd;
    text-align: center;
    color: #fff;
    font-size: large;
    transition: .3s;
}

.btn:hover{
    box-shadow: 0 0 12px #999;
    transform: scale(0.99);
}

@media (max-width: 1024px){
    form {
        width: 700px;
    }
}

@media (max-width: 700px){
    .contenedor {
        align-items: normal;
    }
    form {
        width: 100%;
    }
}