body{
    margin: 0;
}

#contenedor{
    width: 600px;
    background-color: blanchedalmond;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

div {
    width: 150px;
    height: 150px;
}

div > h4, p{
    text-align: center;
}

.div_1{
    background-color: blue;
    color: whitesmoke;
}

.div_2{
    background-color: blueviolet;
}

.div_3{
    background-color: red;
}

.div_4{
    background-color: green;
}